// Couleurs principales de l'identité visuelle
$color-primary: #0369A1;
$color-secondary: #38BDF8;

// Fonds
$color-background-main: #FFFFFF;
$color-background-secondary: #E2E8F0;
$color-info-background: #F0F9FF;
$color-info-border: #BAE6FD;
$color-background-header-footer: #0F172A;

// Textes
$color-text-main: #0F172A;
$color-text-secondary: #62748E;;
$color-text-discreet: #45556C;
$color-text-filter: #45556C;
$color-text-on-dark: #CAD5E2;

// Bordures
$color-border: #E2E8F0;

// Badges
$color-badge-background: #F1F5F9;

// Favoris et erreurs
$color-favorite: #BE123C;
$color-favorite-background: #FFCCD3;
$color-error: #E11D48;

// Étoiles de notation
$color-stars: #FFB900;